*
{
  margin:0;
  padding:0;
}
body{
    /* display: flex; */
    background-color: rgb(97, 95, 95);

}
header{

    text-align: center;
    /* position: absolute; */
    width: 100%;
    /* padding: 1%; */
    /* margin-top: -4%; */
    background-image: linear-gradient(to right, rgb(125, 177, 240), rgb(17, 48, 228));
}

#container{
    display: flex;

}

.search-city{
    /* display: flex; */
    display: grid;
    padding: 3%;
    margin-bottom: 30%;
    
}

.submitBtn{
    margin-top: 5%;
    margin-bottom: 10%;
    border-bottom-style: solid;
    border-bottom: 1%;
}

.top-city{
margin: 2%;
background-color: cornflowerblue;


}
.container-2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 2%;
    padding: 3%;
    /* padding-bottom: 1%; */

}
.display-current{
border-style: solid;
height: 350px;
width: 100%;


}


.display-future{
    display: flex;
    border-style: solid;
    height: 350px;
    width: 100%;
    
    }
.uvIndexGreen{
    background-color: green;
    width: 13%;
}


.uvIndexYellow{
    background-color: yellow;
    width: 13%;
}


.uvIndexRed{
    background-color: red;
    width: 13%;
}

.five-day{
    background-color: cornflowerblue;
    height: 300px;
    width: 150px;
    margin: 2%;
}
.title{
    display: block;
}

